doctype strict 5
html
	head
		title CodeScribe
		link(rel='stylesheet', href='./stylesheets/codescribe.css')
		link(rel='stylesheet', href='./javascripts/vendor/codemirror/lib/codemirror.css')
		script(src='./javascripts/vendor/jquery-1.8.2.min.js')
		script(src='./socket.io/socket.io.js')
		script(src='./javascripts/vendor/handlebars-1.0.rc.1.js')
		script(src='./javascripts/vendor/ember.js')
		script(src='./javascripts/vendor/ember-data.js')
		script(src='./javascripts/vendor/codemirror/lib/codemirror.js')
		script(src='./javascripts/vendor/codemirror/lib/util/runmode.js')
		script(src='./javascripts/vendor/codemirror/mode/javascript/javascript.js')
		script(src='./javascripts/vendor/jquery.dotdotdot-1.5.1.js')	
	body
		script(type='text/x-handlebars', 'data-template-name'='application')
			#header
				|	<div id="new-room" {{action createNewRoom}}>New Room</div>
			#container
				#navigation
					|	<div id="dashboard" {{action goToDashboard}} {{bindAttr class="isChats:no-border-bottom isDashboard:active isDashboard:no-border-top"}}>
					| 		<div class="text">
					|			<div class="dash-img" {{bindAttr class="isDashboard:white"}}></div>
					|			<span>Dashboard</span>
					|		</div>
					|	</div>
					|	<div id="chats" {{action goToChats}} {{bindAttr class="isChats:active isFiles:no-border-bottom"}}>
					| 		<div class="text">
					|			<div class="chats-img" {{bindAttr class="isChats:white"}}></div>
					|			<span>Chats</span>
					|		</div>
					|	</div>
					|	<div id="files" {{action goToFiles}} {{bindAttr class="isFiles:active"}} >
					| 		<div class="text">
					|			<div class="files-img" {{bindAttr class="isFiles:white"}}></div>
					|			<span>Files</span>
					|		</div>
					|	</div>
					|	<div id="friends">
					|		<div class="text">
					|			<div class="friends-img"></div>
					|			<span>Friends</span>
					|		</div>	
					|	</div>
					#friends_list
						li 
							.avatar
							span.name Max Gillett
							span.status Offline
						li 
							.avatar
							span.name Peter Thiel
							span.status Offline
						li 
							.avatar
							span.name Max Levchin
							span.status.online Online
						li 
							.avatar
							span.name Elon Musk
							span.status Offline
						li 
							.avatar
							span.name Luke Nosek
							span.status Offline

				{{ outlet navpane }}

				#content 
					{{ outlet content }}

		script(type='text/x-handlebars', 'data-template-name'='dashboard')
			#d 

		script(type='text/x-handlebars', 'data-template-name'='fileinspector')
			#d 

		script(type='text/x-handlebars', 'data-template-name'='chatpane')
			#nav_pane
				#fixed_header	
					.mag_icon
					input#search(value='Search chats')
					#sort
						div.active Recent 
						div Categories
						div Favorites
				#chat_container
					h2 
						span Today
						span {{controller.length}} chats
					#group
						|	{{#each chat in controller}}
						| 		{{#with chat}}
						|			<div class="chat ellipsis" {{ action showChat this }}>
						|				<span class="members">{{name}}</span>
						|				<span class="time">{{time}}</span>
						|				<span class="text">{{preview}}</span>
						|			</div>
						|		{{/with}}
						| 	{{/each}}


		script(type='text/x-handlebars', 'data-template-name'='filelist')
			#nav_pane.filelist
				#fixed_header	
					.mag_icon
					input#search(value='Search chats')
					#sort
						div.active Recent 
						div Categories
						div Favorites
				#chat_container
					
		script(type='text/x-handlebars', 'data-template-name'='chat')
				| {{#each message in content.messages}}
				| 	{{#with message}}
				|		<div id="message">
				|			<div class="image"><img class="profile-img" src="images/avatar@2x.png"></div>
				|			<div class="text">
				|				<div class="user">
				|					<span class="name">{{ name }}</span>
				|					<span class="time"> - {{ time }}</span>
				|				</div>
				|				<div class="msg">
				|					<span>{{msg}}</span>
				|				</div>
				|			</div>
				|			<div class="clearfix"></div>
				|		</div>
				|		<div id="divider"></div>
				|	{{/with}}
				| {{/each}}


		script(type='text/x-handlebars', 'data-template-name'='chatroom')
			#message_window
				{{ outlet messages }}
				#message
					.image
						img(class='profile-img', src='images/avatar@2x.png')
					.text
						.user 
							span.name Max Gillett
							span.time  - 11:08am
						.msg
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					.clearfix
				#divider
				#message
					.image
						img(class='profile-img', src='images/avatar@2x.png')
					.text
						.user
							span.name Elon Musk
							span.time  - 12:14pm
						.msg
							span ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m
						.msg
							pre.code.cm-s-default
								| app.configure(function() {
								|  function compile(str, path) {
								|   return stylus(str)
								|      .use(nib())
								|      .import('nib')
								|      .import(__dirname + '/server/views/reset');
								|  }
								|  this.use(stylus.middleware({
								|    src: __dirname + "/server/views",
								|    compile: compile,
								|    force: true
								|  }));
								|  this.use(express.static(__dirname+'/server/views'));
								| });
						.msg
							span ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m
				#divider
				#message
					.image
						img(class='profile-img', src='images/avatar@2x.png')
					.text
						.user
							span.name Elon Musk
							span.time  - 1:04pm
						.msg
							span ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m


			textarea#response(placeholder="Send a message")

		script(src='./javascripts/application.js')
		script(type='text/javascript')	
			$(document).ready(function() {
				CodeMirror.runMode($('#message .msg .code').text(), {name: "javascript", json: true}, $('#message .msg .code').get(0))
				$(".ellipsis").dotdotdot();
			});


