<!DOCTYPE strict 5>
<html>
  <head>
    <title>Codescribe</title>
    <link rel="stylesheet" href="./stylesheets/codescribe.css"/>
    <link rel="stylesheet" href="./javascripts/vendor/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:700"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
    <script src="./javascripts/vendor/jquery-1.8.2.min.js"></script>
    <script src="./javascripts/vendor/underscore.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./javascripts/vendor/handlebars-1.0.rc.1.js"></script>
    <script src="./javascripts/vendor/moment.min.js"></script>
    <script src="./javascripts/vendor/ember.js"></script>
    <script src="./javascripts/vendor/ember-data.js"></script>
    <script src="./javascripts/vendor/codemirror/lib/codemirror.js"></script>
    <script src="./javascripts/vendor/codemirror/lib/util/runmode.js"></script>
    <script src="./javascripts/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="./javascripts/vendor/jquery.dotdotdot-1.5.1.js">	</script>
  </head>
  <body>
    <script type="text/x-handlebars" data-template-name="application">
      <div id="header"></div>{{ outlet content }}
    </script>
    <script type="text/x-handlebars" data-template-name="dashboard">	
      <div id="navbox">
        <div class="create" {{ action addTeam target="controller" }}>
         <div class="add"></div>
         <span>Add team</span>
        </div>
        
      </div>
      <div id="team-container">
        {{#each team in content}}
         {{#with team}}
          {{#view App.SingleTeamView}}
           <div id="team">
            <div id="name">
             <span>{{ name }}</span>
             <div class="room"></div>
            </div>
            <div class="members">
             {{#each member in team}}
              {{#with member}}	
               <div class="memb">
                {{#if online}}
                 <div class="online"></div>
                {{else}}
                 <div class="offline"></div>
                {{/if}}
                <span>{{ name }}</span>
                <div class="pref"></div>
               </div>
              {{/with}}
             {{/each}}
            </div>
           </div>
          {{/view}}
         {{/with}}
        {{/each}}
        
        
        
        
      </div>
    </script>
    <script src="./javascripts/application.js">
      //- #team
      //- 	#name 
      //- 		span CodeScribe
      //- 		.room 
      //- 	#members
      //- 		.memb
      //- 			.online
      //- 			span Max Gillett
      //- 			.pref
      //- 		.memb
      //- 			.offline
      //- 			span Gus Fring
      //- 			.pref
      //- 		.memb
      //- 			.online
      //- 			span Jesse Pinkman
      //- 			.pref
      //- 		.memb.open
      //- 			span Add a member
      //- 		.memb.open
      //- 			span Add a member
      
      
      //- #team
      //- 	#name
      //- 		span Ember
      //- 		.room
      //- 	#members
      //- 		.memb
      //- 			.online
      //- 			span Max Gillett
      //- 			.pref
      //- 		.memb
      //- 			.offline
      //- 			span Walter White
      //- 			.pref	
      
    </script>
  </body>
</html>