body
	font: 13px 'helvetica neue', helvetica, arial, sans-serif
	-webkit-font-smoothing: antialiased
	overflow: hidden

li 
	list-style: none

header_height = 45px
nav_width = 200px
nav_outer_border = #929292
nav_item_height = 50px
nav_item_bg = #f0f0f0

#header
	width: 100%
	height: header_height
	background: #2f2f2f

#navigation
	border-left: 1px solid nav_outer_border
	border-right: 1px solid nav_outer_border
	position: absolute
	left: 0
	top: header_height
	bottom: 0
	width: nav_width
	background: grey
 
#navigation #dashboard, #chats, #files, #friends
	cursor: pointer
	position: relative
	left: offset = 0px
	top: offset
	border-bottom: 1px solid #d4d4d4
	margin-bottom: offset
	width: nav_width - 2*offset
	height: nav_item_height
	background: nav_item_bg
	color: #2f2f2f
	font-weight: bold
	font-size: 16px

#container #navigation .no-border
	border-bottom: 0px

#navigation span
	display: block
	padding: 15px

#container #navigation div.active
	cursor: auto
	border-right: 1px solid #b5b5b5
	border-bottom: 1px solid nav_outer_border
	border-top: 1px solid nav_outer_border
	background: linear-gradient(left, #b7b7b7, #b5b5b5)
	color: #f6f5f5



// Friend list

f_margin = 30px
chat_green = #27832b

#friends_list
	width: 100%
	padding: 5px 0px 5px 0px
	background: linear-gradient(bottom, #9f9d9d, #b6b5b5)
	border-bottom: 2px solid #767676

#friends_list li
	position: relative
	padding: 8px 0px 8px 10px 

#friends_list li .avatar
	position: absolute
	left: 10px
	top: 9px
	width: 24px
	height: 24px
	border-radius: 2px
	image: 'avatar.png' 24px 24px

#friends_list span
	display: block;
	margin: 0 0 0 f_margin
	padding: 0

#friends_list span.name
	font-size: 12px

#friends_list span.status
	font-size: 10px
	margin-left: f_margin + 8
	color: #3d3d3d

#friends_list span.status.online
	color: chat_green
	font-weight: bold

#friends_list span.status:after
	content: ''
	position: absolute
	width: s = 5px
	height: s
	background: black
	bottom: 11px
	left: f_margin + 10
	background: #7f7f7f
	border-radius: s 

#friends_list span.status.online:after
	background: chat_green



// Navigation pane

nav_pane_width = 275px

#nav_pane
	position: absolute
	left: nav_width + 2
	top: header_height
	bottom: 0
	width: nav_pane_width
	background: #b5b5b5

#content
	position: absolute
	top: header_height
	left: nav_width + 2 + nav_pane_width
	right: 0
	bottom: 0
	background: #e6e7e6


