doctype 5
html
	head
		title CodeScribe
		link(rel='stylesheet', href='./codescribe.css')
	body
		#header
		#container
			#navigation
				#dashboard.no-border 
					span Dashboard
				#chats.active 
					span Chats
				#files 
					span Files
				#friends 
					span Friends
				#friends_list
					li 
						.avatar
						span.name Max Gillett
						span.status Offline
					li 
						.avatar
						span.name Peter Thiel
						span.status Offline
					li 
						.avatar
						span.name Max Levchin
						span.status.online Online
					li 
						.avatar
						span.name Elon Musk
						span.status Offline
					li 
						.avatar
						span.name Luke Nosek
						span.status Offline
			#nav_pane
			#content
			#editor_pane
		
