<!DOCTYPE html>
<html>
  <head>
    <title>CodeScribe</title>
    <link rel="stylesheet" href="./codescribe.css">
  </head>
  <body>
    <div id="header"></div>
    <div id="container">
      <div id="navigation">
        <div id="dashboard" class="no-border"> <span>Dashboard</span></div>
        <div id="chats" class="active"> <span>Chats</span></div>
        <div id="files"> <span>Files</span></div>
        <div id="friends"> <span>Friends</span></div>
        <div id="friends_list">
          <li> 
            <div class="avatar"></div><span class="name">Max Gillett</span><span class="status">Offline</span>
          </li>
          <li> 
            <div class="avatar"></div><span class="name">Peter Thiel</span><span class="status">Offline</span>
          </li>
          <li> 
            <div class="avatar"></div><span class="name">Max Levchin</span><span class="status online">Online</span>
          </li>
          <li> 
            <div class="avatar"></div><span class="name">Elon Musk</span><span class="status">Offline</span>
          </li>
          <li> 
            <div class="avatar"></div><span class="name">Luke Nosek</span><span class="status">Offline</span>
          </li>
        </div>
      </div>
      <div id="nav_pane"></div>
      <div id="content"></div>
      <div id="editor_pane"></div>
    </div>
  </body>
</html>