square-button()
  cursor: pointer
  position: relative
  left: 25px
  width: 60px
  height: 70px
  background: darken(white, 5)
  border: 1px solid darken(white, 9)  

  span
    position: relative
    text-align: center
    display: block
    top: 23px
    width: 43px
    left: 8px
    font-size: 10px
    color: darken(white, 45)
    border-top: 1px solid darken(white, 15)
    padding: 4px 1px 1px 1px    

  .add 
    position: relative
    top: 10px
    left: 18px
    width: 25px
    height: 25px    
    if arguments
      image: arguments 25px 25px