body {
  font: 13px 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
li {
  list-style: none;
}
pre,
xmp,
plaintext,
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
#header {
  width: 100%;
  height: 45px;
  background: #2f2f2f;
}
#navigation {
  border-left: 1px solid #929292;
  border-right: 1px solid #929292;
  position: absolute;
  left: 0;
  top: 45px;
  bottom: 0;
  width: 200px;
  background: #808080;
}
#navigation #dashboard,
#chats,
#files,
#friends {
  cursor: pointer;
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 0px;
  width: 200px;
  height: 50px;
  background: #f0f0f0;
  color: #2f2f2f;
  font-weight: bold;
  font-size: 16px;
}
#navigation .text {
  display: block;
  padding: 10px 0px 10px 15px;
}
#navigation .dash-img,
.chats-img,
.files-img,
.friends-img {
  relative: top 4px right 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
#navigation .chats-img {
  image: '/images/chat-img.png' 20px 20px;
}
#navigation .chats-img.white {
  image: '/images/chat-img-white.png' 20px 20px;
}
#navigation .dash-img {
  image: '/images/dash-img.png' 20px 20px;
}
#navigation .files-img {
  image: '/images/files-img.png' 20px 20px;
}
#navigation .friends-img {
  image: '/images/friends-img.png' 20px 20px;
}
#navigation .text span {
  relative: left 3px;
}
#container #navigation div.active {
  cursor: auto;
  border-bottom: 1px solid #929292;
  border-top: 1px solid #929292;
  color: #f6f5f5;
}
#container #navigation #dashboard.active {
  background: #87a6cb;
}
#container #navigation #chats.active {
  border-right: 1px solid #b4b8c7;
  background: linear-gradient(left, #9da2b6, #b4b8c7);
}
#container #navigation #files.active {
  border-right: 1px solid #a2be8c;
  background: linear-gradient(left, #8daf72, #a2be8c);
}
#container #navigation div.no-border-bottom {
  border-bottom: 0px;
}
#container #navigation div.no-border-top {
  border-top: 0px;
}
#friends_list {
  width: 100%;
  padding: 5px 0px 5px 0px;
  background: linear-gradient(top, #c8c8c8, #b6b5b5);
  border-bottom: 2px solid #767676;
}
#friends_list li {
  position: relative;
  padding: 8px 0px 8px 10px;
}
#friends_list li .avatar {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #a9a9a9;
  image: '/images/avatar.png' 24px 24px;
}
#friends_list span {
  display: block;
  margin: 0 0 0 33px;
  padding: 0;
}
#friends_list span.name {
  font-size: 12px;
}
#friends_list span.status {
  font-size: 10px;
  margin-left: 41px;
  color: #3d3d3d;
}
#friends_list span.status.online {
  color: #27832b;
  font-weight: bold;
}
#friends_list span.status:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: #000;
  bottom: 11px;
  left: 43px;
  background: #7f7f7f;
  border-radius: 5px;
}
#friends_list span.status.online:after {
  background: #27832b;
}
#nav_pane {
  absolute: top 45px left 202px;
  bottom: 0;
  background: #b4b8c7;
  border-right: 1px solid #929292;
  width: 275px;
}
#nav_pane.filelist {
  background: #a2be8c;
}
#nav_pane #fixed_header {
  position: relative;
  z-index: 10;
  padding: 10px 0 0 18px;
  width: 257px;
  height: 55px;
}
#nav_pane #fixed_header #search {
  box-shadow: 0px -1px 2px 0px #666;
  border: none;
  margin: 0;
  padding: 0px 0px 0px 23px;
  outline: none;
  height: 20px;
  width: 239px;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 9px;
}
#nav_pane #fixed_header .mag_icon {
  content: '';
  absolute: left 22px top 12px;
  z-index: 5;
  width: 16px;
  height: 16px;
  image: '/images/glass.png' 16px 16px;
}
#nav_pane #fixed_header #sort {
  height: 33px;
}
#nav_pane #fixed_header #sort div {
  cursor: pointer;
  float: left;
  padding: 3px 13px 3px 13px;
  background: #fff;
  border: 1px solid #929292;
  background: linear-gradient(top, #fff, #d5d5d5);
}
#nav_pane #fixed_header #sort div:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
#nav_pane #fixed_header #sort div:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
#nav_pane #fixed_header #sort div.active {
  cursor: auto;
  color: #fff;
  box-shadow: 0px 0px 1px 0px #666 inset;
  background: linear-gradient(bottom, #4e8adb, #668fe3);
}
#nav_pane #fixed_header_faded {
  z-index: 5;
  position: fixed;
  padding-top: 65px;
  height: 10px;
  width: 275px;
  background: #b4b8c7;
}
#nav_pane #chat_container {
  position: absolute;
  overflow-x: none;
  overflow-y: auto;
  top: 58px;
  bottom: 0;
  padding: 10px 0 0 18px;
  width: 257px;
}
#nav_pane h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 2px 4px;
  width: 235px;
  color: #5a5a5a;
  border-bottom: 2px solid #5a5a5a;
}
#nav_pane h2 span:last-child {
  float: right;
  font-weight: normal;
}
#nav_pane #group {
  width: 239px;
  padding: 8px 0 15px 0;
}
#nav_pane #group .chat {
  box-shadow: 0px 0px 3px 0px #666;
  cursor: pointer;
  width: auto;
  height: 75px;
  background: #fff;
  font-size: 11px;
  padding: 5px;
}
#nav_pane #group .chat .members {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 2px;
}
#nav_pane #group .chat .time {
  float: right;
  padding-right: 3px;
}
#nav_pane #group .chat .text {
  display: block;
  color: #555;
}
#nav_pane #group .chat.active {
  box-shadow: 0px 0px 4px 0px #666 inset;
  background: linear-gradient(top, #4e8adb, #3875c7);
  color: #fff;
}
#nav_pane #group .chat.active .text {
  color: #fff;
}
.chat:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}
.chat:nth-child(even) {
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
}
.chat:last-child {
  border-radius: 0px 0px 5px 5px;
}
#content {
  position: absolute;
  top: 45px;
  left: 202px;
  right: 0;
  bottom: 0;
  background: #e6e7e6;
}
#content #message_window {
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 70px;
  background: #fff;
  border-radius: 3px;
  padding: 12px;
  border: 1px solid #c6c6c6;
  min-width: 200px;
  overflow: auto;
}
#divider {
  height: 1px;
  margin: 8px 0px;
  background: #dfdfdf;
}
#message .image {
  float: left;
  relative: top 4px;
  width: 35px;
  height: 35px;
}
#message .profile-img {
  width: 35px;
  height: 35px;
  border-radius: 3px;
}
#message .text {
  padding-left: 45px;
}
#message .text .msg {
  padding-bottom: 5px;
}
#content #message_window #message .name {
  font-weight: bold;
  font-size: 14px;
}
#content #message_window #message .time {
  font-size: 11px;
  color: #484848;
}
#content #response {
  position: absolute;
  margin: 0;
  bottom: 15px;
  left: 15px;
  right: 15px;
  height: 40px;
  color: #808080;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
}
