@import '/mixins/buttons'

header_height = 33px
off_black = #2f2f2f
team_bg = #cdcdcd

@import '/sections/dashboard'
@import '/sections/invitations'
@import '/sections/rooms'

body
	font: 13px 'helvetica neue', helvetica, arial, sans-serif
	-webkit-font-smoothing: antialiased
	overflow: hidden

li 
	list-style: none

pre, xmp, plaintext, listing {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 0em 0px;
}


#header
	width: 100%
	height: header_height
	background: #2f2f2f

