@import '/mixins/buttons'

header_height = 33px
off_black = #2f2f2f
team_bg = #cdcdcd

@import '/sections/dashboard'
@import '/sections/invitations'

body
	font: 13px 'helvetica neue', helvetica, arial, sans-serif
	-webkit-font-smoothing: antialiased
	overflow: hidden

li 
	list-style: none

pre, xmp, plaintext, listing {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 0em 0px;
}


#header
	width: 100%
	height: header_height
	background: #2f2f2f


// Room 

left-pane-width = 225px
right-pane-width = 250px

#left-pane
	position: absolute
	width: left-pane-width
	top: header_height
	bottom: 0
	background: #d6d6d6
	border-left: 2px solid #5e5e5e

#center-pane
	position: absolute
	top: header_height
	left: left-pane-width
	right: right-pane-width + 2px
	bottom: 0
	background: #042029

#right-pane
	position: absolute
	top: header_height
	right: 0
	bottom: 0
	width: right-pane-width
	background: #d6d6d6
	border-left: 2px solid #5e5e5e

	.team
		position: relative
		width: right-pane-width
		height: 175px
		background: white
		border-bottom: 2px solid lighten(black, 80)

		#name
			background: darken(white, 50)
			padding: 5px     
			font-family: 'Ubuntu', sans-serif
			background: #8a646c
			color: white
			font-size: 16px
			padding: 6px

	.chat
		position: absolute
		width: right-pane-width
		top: 175px + 2px
		bottom: 120px
		background: darken(white, 5)
		border-bottom: 2px solid lighten(black, 80)

	.box
		position: absolute
		height: 120px
		bottom: 0
		left: 0
		right: 0
		background: white
		outline: none
		border: none