body {
  font: 13px 'helvetica neue', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
li {
  list-style: none;
}
pre,
xmp,
plaintext,
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 0em 0px;
}
#header {
  width: 100%;
  height: 33px;
  background: #2f2f2f;
}
#navbox {
  position: absolute;
  top: 53px;
  width: 115px;
  bottom: 20px;
  border-right: 1px solid #ccc;
}
#navbox .create {
  cursor: pointer;
  position: relative;
  left: 25px;
  width: 60px;
  height: 70px;
  background: #f2f2f2;
  border: 1px solid #e8e8e8;
}
#navbox .create .add {
  position: relative;
  top: 10px;
  left: 18px;
  width: 25px;
  height: 25px;
  image: '/images/plus.png' 25px 25px;
}
#navbox .create span {
  position: relative;
  display: block;
  top: 23px;
  width: 43px;
  left: 8px;
  font-size: 10px;
  color: #8c8c8c;
  border-top: 1px solid #d9d9d9;
  padding: 4px 1px 1px 1px;
}
#team-container {
  position: absolute;
  left: 125px;
  padding: 20px;
}
.team {
  float: left;
  margin-right: 20px;
  width: 225px;
  background: #cdcdcd;
}
#name {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 16px;
  padding: 6px;
}
#name span {
  position: relative;
  left: 6px;
}
.team:first-of-type #name {
  background: #8a646c;
}
.team:nth-of-type(2) #name {
  background: #64728a;
}
.team #name .room {
  position: absolute;
  right: 10px;
  top: 6px;
  width: 25px;
  height: 18px;
}
.team:first-of-type #name .room {
  background: #b48e97;
}
.team:nth-of-type(2) #name .room {
  background: #8b96ab;
}
#members {
  padding: 10px 10px 0px 10px;
}
#members .memb {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background: #e7e7e7;
  margin-bottom: 10px;
}
#members .memb .offline,
#members .memb .online {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 5px;
  margin-right: 4px;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #b8b8b8;
}
#members .memb .online {
  background: #3a9849;
}
#members .memb span {
  display: inline-block;
  padding: 6px;
}
#members .memb .pref {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  image: '/images/edit-img.png' 20px 20px;
}
#members .memb.open {
  font-size: 12px;
  padding: 5px;
  height: 30px;
  width: 206px;
  background: #dadada;
  color: #9a9a9a;
  border: 2px solid #b3b3b3;
}
#members .memb.pending span {
  color: #8c8c8c;
  padding-left: 18px;
}
